:root {
    --background-color: white;
    --background-divider-color: rgba(215, 215, 215, 0.31);
    --important-color: rgb(24, 24, 24);
    --normal-color: #747474;
    --accent-color: #6a6a6a;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.black-header {
    color: var(--important-color);
    text-transform: uppercase;
}

/* navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2em;
    padding-left: 8%;
    padding-right: 8%;
}

.my-name {
    color: var(--important-color);
    font-weight: 700;
    font-size: 35px;
    cursor: pointer;
}

span {
    color:rgba(81, 81, 81, 0.377)
}

nav ul li {
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;   
}

nav ul li a:hover {
    color: #acacac;
    transition: 0.7s;
}

.clickable-button {
    background-color: var(--important-color);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 25px;
    border-radius: 15px;
    transition: transform .7s;
    font-size: 15px;
}
.clickable-button:hover {
    transform: scale(1.1);
}

/* bumper section */

.image-of-me img {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    margin-top: 2em;
    margin-bottom: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0.5px solid var(--accent-color);
}

.intro-divider {
    width: 100%;
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: var(--background-divider-color);
    border-top: 1px solid rgba(128, 128, 128, 0.449);
    border-bottom: 1px solid rgba(128, 128, 128, 0.445);
}

#UCI {
    font-size: 20px;
    padding: 0.5em;
    text-align: center;
    margin: auto;
    padding-bottom: 2em;
}

#UCI-link {
    text-decoration: none;
    color: var(--accent-color);
}

/* main section */



/* about me section */

.about {
    width: 100%;
    padding: 50px 0px;
}

.about-text {
    width: 540px;
    color: var(--normal-color);
    padding-left: 3em;
    padding-right: 3em;
}

/* TODO: make a media query changing the flex-direction to column for phone */
.about-main {
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.about-text h1 {
    font-size: 85px;
}

.about-text p {
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 15px;
    margin-bottom: 45px;
    text-align: justify;
}

/* works section */

#works-header {
    font-size: 50px;
    text-align: center;
}

.flex-container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto;
    max-width: 1200px;
}

.text-background {
    background-color: black;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    opacity: 80%;
}

.text-background span {
    color: rgb(211, 211, 211);
}

.flex-container ul li:first-child {
    width: 95%;
}

.flex-container ul li {
    width: 570px;
    height: 300px;
}


.flex-item {
    border: 2.5px solid rgba(0, 0, 0, 0.516);
    color: var(--important-color);
    padding: 5em 0 5em 0;
    margin: 1em;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    background-size: 100%;
    background-color:rgba(0, 0, 0, 0.484);
    background-blend-mode: soft-light;
    transition: 1s;
    flex-wrap: wrap;
  }

  .flex-item:hover {
    background-color: rgba(0, 0, 0, 0);
  }


/* backgrounds */

#my-work {
    background-color: var(--background-divider-color);
    border: 1px solid var(--accent-color);
}

.run-buddy {
    background-image: url("../images/cat1.jpeg");
  }
  
  .led-wall {
    background-image: url("../images/cat2.jpeg")
  }
  
  .react-calc {
    background-image: url("../images/cat3.jpeg")
  }
  
  .pastel-puzzles {
    background-image: url("../images/cat4.jpeg")
  }
  
  .surf-report {
    background-image: url("../images/cat5.jpeg")
  }
  